@model WEB.Models.Chats
@{
    ViewData["Title"] = "Chat";
}
@foreach (var i in Model.members)
{
    ViewData["user"] += i;
    if (i != Model.members.Last())
    {
        ViewData["user"] += ", ";
    }
}
<h2 name="user">Chat con @ViewData["users"]</h2>
<div class="container">
    <form asp-action="Chat">
        <div class="d-inline-flex justify-content-between collapse">
            <div class="col-2">
                <input type="submit" name="File" value="Adjuntar archivos" class="btn btn-primary" />
            </div>
            <div class="col-2">
                <input type="submit" value="Enviar mensaje" class="btn btn-primary" />
            </div>
            <div class="col-8">
                <input type="text" name="Contenido" class="form-control" />
            </div>
        </div>
    </form>
    @if (Model.messages.Any())
    {
        <table class="table">
            <tbody>
                @foreach (var item in Model.messages)
                {
                    <tr>
                        <td>
                            <b>@item.sender:</b>
                            <br /> @item.content
                        </td>
                        <td>
                            @Html.ActionLink("Borrar para todos", "Delete") | @Html.ActionLink("Borrar para mí", "Delete")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {

        <br /> <br />
        <h3 style="opacity: 0.4"> Inicia una conversación con @ViewData["users"]</h3>
    }
</div>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>