@model WEB.Models.Chats
@{
    ViewData["Title"] = "Chat";
}
<h2 name="user">Chat con @ViewData["users"]</h2>
<hr>
<div class="container">
   
    <form class="row" asp-action="Chat">
        <div class="col-sm-2">
            <input type="submit" value="Enviar mensaje" class="btn btn-primary" />
        </div>
        <div class="col-sm-8">
            <input type="text" name="Contenido" class="form-control" />
        </div>
    </form>
    <br/>
    <form asp-action="UploadFile" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Import" />
    </form>
    <br />
    <br />
    @if (Model.messages.Any())
    {
        <table class="table">
            <tbody>
                @foreach (var item in Model.messages)
                {
                    <tr>
                        <td>
                            <b>@item.sender:</b>
                            <br /> @item.content
                        </td>
                        <td class="align-middle">
                        @Html.ActionLink("Borrar para todos", "Delete") | @Html.ActionLink("Borrar para mí", "Delete")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {

        <br /> <br />
        <h3 style="opacity: 0.4"> Inicia una conversación con @ViewData["users"]</h3>
    }
</div>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>