@model IEnumerable<WEB.Models.Contact>

@{
    ViewData["Title"] = "Solicitudes Recibidas";
}

<h1>@ViewData["Title"]</h1>
<hr>
<div class="text-center">
    <p style="font-size:larger; color:yellowgreen">@ViewData["Success"]</p>
</div>
@if (!Model.Any())
{
    <h3 class="text-center">No tienes ninguna solicitud<br /> Regresa pronto o <a asp-action="AddFriend">agrega a otro viajero</a> con su nombre de usuario
    <br /><a asp-action="SentRequests">Solicitudes Enviadas</a>
    </h3>
}
else
{
<pre class="text-center" style="font-size:medium">
<a asp-action="SentRequests">Solicitudes Enviadas</a>       <a asp-action="Requests">Solicitudes Recibidas</a>
</pre>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userContact)
                </th>
                <th>
                    Estado de solicitud
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userContact)
                    </td>
                    <td>
                        <pre>@Html.ActionLink("Aceptar", "AcceptRequests", new { id = item.userContact})  |  @Html.ActionLink("Eliminar", "DeleteRequests", new { id = item.userContact, sent = false})</pre>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}