@model WEB.Models.Chats
@{
    ViewData["Title"] = "Chat";
}
<h2 name="user">Chat con @ViewData["users"]</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.ActionLink(
            "Buscar mensajes",
            "SearchMessages",                         // controller action
            "User",        // controller
            new { Model },         // action parameters aka route values
            new { @class = "btn btn-info" }) /
        </div>
        <div class="col-sm-8">
            <input type="text" name="Contenido" class="form-control" />
        </div>
    </div>
    @if (Model.messages.Any())
    {
        <table class="table">
            <tbody>
                @foreach (var item in Model.messages)
                {
                    <tr>
                        <td>
                            <b>@item.sender:</b>
                            <br /> @item.content
                        </td>
                        <td class="align-middle">
                            @Html.ActionLink("Borrar para todos", "DeleteAll") | @Html.ActionLink("Borrar para mí", "Delete")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {

        <br /> <br />
        <h3 style="opacity: 0.4"> No existen mensajes con @ViewData["users"]</h3>
    }
</div>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
