@{
    ViewData["Title"] = "Home Page";
}

<label>User:</label>  @ViewBag.Session

<div class="text-center">
    <h1 class="display-1">Teyvat Express</h1>
    <h1 class="display-4">¡Bienvenido!</h1>
    <input type="button" value="Sign In" onclick="@("window.location.href='" + @Url.Action("SignIn", "Home") + "'");" />
    <input type="button" value="Sign Up" onclick="@("window.location.href='" + @Url.Action("SignUp", "Home") + "'");" />
</div>
